.student-info,
.student-info a {
  color: white;
}

.student-info a {
  text-decoration: underline;
}
.student-info a:hover {
  color: yellow;
}
.assignment-list {
  overflow: auto;
}
.grade-input {
  width: 10rem;
  display: block;
  margin: 0 auto;
}
